@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Rattle.Client.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="typeof(Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Shared.MainLayout)">
                <h3>Sorry, the page was not found!</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<style>
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
    }
    .card {
        background-color: #333;
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }
    .card button {
        background-color: #fc6b03;
        border: none;
        padding: 5px 15px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .card button:hover {
        background-color: #fc6b03;
    }
</style>
